<theme>
	<formatVersion>4</formatVersion>
	<!-- Un énorme merci à butchgames et mYSt!-->

  
	<view name="system, basic, detailed">
		<sound name="bgsound">
		  <path>./sounds/system.ogg</path>
		</sound>
		<image name="logo">
			<path>./logo.svg</path>
		</image>
		<helpsystem name="help">
			<textColor>ffffff</textColor>
			<iconColor>ffffff</iconColor>
		</helpsystem>
	</view>

	<view name="system">
    	<image name="background" extra="true">
			<path>./bg.jpg</path>
		</image>
	</view>
  
	<view name="basic, detailed">
		<image name="background">
			<path>./bg2.jpg</path>
		</image>

		<textlist name="gamelist">
			<selectorColor>d4d4d4</selectorColor>
			<selectedColor>000000</selectedColor>
			<primaryColor>ffffff</primaryColor>
			<secondaryColor>ffffff</secondaryColor>
		</textlist>
	</view>
	
	<view name="basic">
    
	</view>
  
	<view name="detailed">
  
		<text name="md_lbl_rating, md_lbl_releasedate, md_lbl_developer, md_lbl_publisher, md_lbl_genre, md_lbl_players, md_lbl_lastplayed, md_lbl_playcount, md_developer, md_publisher, md_genre, md_players, md_playcount, md_description, md_favorite, md_lbl_favorite">
			<color>ffffff</color>
		</text>
		
		<datetime name="md_releasedate">
			<color>ffffff</color>
		</datetime>		

	    <image name="md_image">
		    <pos>0.025 0.12</pos>
		    <origin>0 0</origin>
		    <maxSize>0.55 0.58</maxSize>
	    </image>
		
		<video name="md_video">
		    <pos>0.025 0.12</pos>
		    <origin>0 0</origin>
		    <maxSize>0.57 0.59</maxSize>
	    </video>
						
	    <image name="npi" extra="true">
		    <color>ffffffcc</color>
	    </image>

	</view>
	
</theme>